/* 75% scale */

html, body {
  background-color: #F2F2F2;
  font-family: 'Raleway';
  font-weight: 300;
}

ul, li, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-weight: 500;
}

#logo {
  height: 475px;
  background: url('../img/logo.png') no-repeat center;
  border-bottom: 2px solid #db6766;
}

#logo h1 {
  padding-top: 295px;
  text-align: center;
  font-size: 60px;
  font-weight: 300;
}

#navbar {
  height: 60px;
  background: #FFF;
  border: 1px solid #fff;
}

#navbar h3 {
  font-weight: 300;  
  padding-top: 15px;
}

#navbar-icons {
  padding-top: 15px;
  font-size: 23px;
  color: #dddddd;
  text-align: center;
  letter-spacing: 10px;
}

#navbar-icons ul {
  list-style-type: none;
}

#navbar-icons ul li {
  display: inline;
}

#navbar-icons ul li a {
  color: #CCC;
}

#navbar-icons ul li a:hover {
  color: #BBB;
}


#navbar-register button {
  height: 42px;
  background: #e5e5e5;
  border: 0;
  font-weight: 500;
  font-size: 20px;
  margin-top: 8px;
  padding: 0 40px 0;
  float: right;
}

#box {
  height: 320px;
  background: #db6766;
  color: #FFF;
}

#box-header {
  padding-top: 3%;
  padding-bottom: 3%;
}

#box-header-inner {
  padding-top: 6%;
  padding-bottom: 6%;
}

#box-header h1 {
  font-weight: 300;
  font-size: 40px;
  line-height: 1.25;
}

#box-buttons {
  padding-top: 4.5%;
  padding-bottom: 4.5%;
}

#box-buttons-inner {
  padding-top: 9%;
  padding-bottom: 9%;
  float: right;
}

#box-buttons button {
  display: block;
  width: 265px;  
  height: 70px;
  background: #b8b8b8;
  color: #e6e6e6;
  border: 0;
  font-weight: 500;
  font-size: 30px;
  box-shadow: 3px 3px 3px #333;
}

#box-buttons button:first-child {
  margin-bottom: 15px;
}

#tiles {
  margin: 50px 0;
}

.tile {
  height: 315px;
  background: #FFF;
}


.tile-header {
  width: 100%;
  text-align: center;
  padding: 18px 0;
  background: #e5e5e5;
  color: #2d2d2d;
}

.tile-content {
  padding-top: 40px;
  font-size: 25px;
  color: #888888;
  text-align: center;
}

.tile-red {
  background: #d85857;
}

#tile-calendar {
  text-align: center;
  line-height: 315px;
}

#tile-calendar img {
  vertical-align: middle;
}

#col-gallery {
  margin-top: 28px;
}