/* ---------------------------------- */
/* HTML TAGS                          */
/* ---------------------------------- */

html, body {
  font-family: 'Raleway';
  font-weight: 300;
  color: #888888;
}

ul, li, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

/* ---------------------------------- */
/* HEADER                             */
/* ---------------------------------- */

header {
  background: url('../img/bg.png') gray center no-repeat;
  height: 775px;
  margin: 0 auto;
  padding-top: 140px;
  text-align: center;
}

  .overline:before,
  .overline:after {
    display: inline-block;
    width: 50%;
    height: 1px;
    position: relative;
    vertical-align: middle;
    content: '';
    background-color: #FFF;
  }

  .overline:before {
    margin-left: -50%;
  }

  .overline:after {
    margin-right: -50%;
  }

  #logo:before {
    right: 30px;
  }

    #logo > img {
      vertical-align: -35px;
    }

  header > h1 {
    color: #FFF;
    font-size: 230px;
    font-weight: 200;
  }

  header > h2 {
    color: #FFF;
    font-size: 30px;
    font-weight: 200;
    margin-top: 10px;
  }

  header > h2:before {
    right: 90px;
  }

  header > h2:after {
    left: 90px;
  }

/* ---------------------------------- */
/* NAVBAR                             */
/* ---------------------------------- */

.register {
  font-size: 30px;
  font-family: "Raleway";
  color: rgb( 64, 26, 26 );
  line-height: 1;
  text-align: center;
  -moz-transform: matrix( 0.90954087289811,0,0,0.92764126373004,0,0);
  -webkit-transform: matrix( 0.90954087289811,0,0,0.92764126373004,0,0);
  -ms-transform: matrix( 0.90954087289811,0,0,0.92764126373004,0,0);
  position: absolute;
  left: 1443.376px;
  top: 815.325px;
  z-index: 83;
}


#navbar {
  height: 60px;
  background: #FFF;
  border-top: 1px solid #960026;
  position: relative;
  top: -55px;
  z-index: 999;
}

#navbar h3 {
  color: rgb( 64, 26, 26 );;
  font-weight: 300;
  padding-top: 15px;
  font-size: 30px;
  font-family: "Raleway";
}

#navbar-register button {
  height: 42px;
  background: #e5e5e5;
  border: 0;
  font-size: 30px;
  font-family: "Raleway";
  color: rgb( 64, 26, 26 );
  margin-top: 8px;
  padding: 0 40px 0;
  float: right;
}

#box {
  height: 320px;
  background: #a71e2b;
  color: #FFF;
}

#box-header {
  padding-top: 3%;
  padding-bottom: 3%;
}

#box-header-inner {
  padding-top: 6%;
  padding-bottom: 6%;
}

#box-header h1 {
  font-weight: 300;
  font-size: 40px;
  line-height: 1.25;
}

#box-buttons {
  padding-top: 4.5%;
  padding-bottom: 4.5%;
}

#box-buttons-inner {
  padding-top: 9%;
  padding-bottom: 9%;
  float: right;
}

#box-buttons button {
  display: block;
  width: 265px;
  height: 70px;
  background: #b8b8b8;
  color: #e6e6e6;
  border: 0;
  font-weight: 500;
  font-size: 30px;
  box-shadow: 3px 3px 3px #333;
}

#box-buttons button:first-child {
  margin-bottom: 15px;
}

#tiles {
  margin: 50px 0;
}

.tile {
  height: 315px;
  background: #FFF;
}


.tile-header {
  width: 100%;
  text-align: center;
  padding: 18px 0;
  background: #e5e5e5;
  color: #2d2d2d;
}

.tile-content {
  padding-top: 40px;
  font-size: 25px;
  color: #888888;
  text-align: center;
}

.tile-red {
  background: #d85857;
}

#tile-calendar {
  text-align: center;
  line-height: 315px;
}

#tile-calendar img {
  vertical-align: middle;
}

#col-gallery {
  margin-top: 28px;
}